body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #373050;
}

header {
    background-color: #87095E;
    padding: 46px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}
header nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Link rengi */
    padding: 10px 0;
    display: block;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #FF914D; /* Hover link rengi */
}

header nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #FF914D; /* Alt çizgi rengi */
    transition: width 0.3s ease;
    margin-top: 5px;
}

header nav ul li a:hover::after {
    width: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav ul li a.active {
    border-bottom: 2px solid #FF914D;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #87095E;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feature img {
    max-width: 150px;
    margin-right: 20px;
}

.feature div {
    flex: 1;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-item {
    flex: 1 1 calc(50% - 20px);
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.feature-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4B0056;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Seçilen metnin stilini değiştirme */
::selection {
    background-color: #FF914D; /* Arka plan turuncu */
    color: white; /* Metin beyaz */
}

::-moz-selection {
    background-color: #FF914D; /* Arka plan turuncu */
    color: white; /* Metin beyaz */
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 45px;
    width: 40px;
    height: 40px;
    background-color: #87095E; /* Buton rengi */
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    border-radius: 10px 3px 3px 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    display: none;
}

.back-to-top:hover {
    background-color: #4B0056; /* Hover rengi */
    cursor: pointer;
}

.back-to-top .arrow-up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}